<div class="modal fade form_payment_directly" id="modal_payment_<%= order.id %>" tabindex="-1" role="dialog"
  aria-labelledby="modal_label_message" aria-hidden="true">
  <div class="modal-dialog attribute">
    <div class="modal-content-<%= order.id %>">
      <div class="modal-header">
        <button type="button" class="close"
          data-dismiss="modal"><%= t "booking_histories.close" %></button>
        <h4 class="modal-title" id="modal_label_message">
          <%= t "booking_histories.choose_payment.total_modal" %></h4>
      </div>
      <div class="btn_payment">
        <% if order.venue.payment_methods.directly.present? %>
          <div class="col-md-4 col-xs-12">
            <%= link_to t("booking_histories.choose_payment.directly"),
              "#", class: "btn btn-primary payment-directly", checked: false, id: "#{order.id}" %>
          </div>
        <% end %>
        <% if order.venue.payment_methods.paypal.present? %>
          <div class="col-md-4 col-xs-12">
            <%= button_to t(".paypal"),
              paypals_path(order: order.id), class: "btn btn-primary", disabled: payment_directly_exist?(order) %>
          </div>
        <% end %>
        <div class="col-md-4 col-xs-12">
          <%= link_to t("booking_histories.choose_payment.banking"),
            "#", class: "btn btn-primary", disabled: payment_directly_exist?(order) %>
        </div>
      </div>
      <div class="form_old_information">
        <div id="show_old_information_<%= order.id %>" class="display-none">
          <div class="form-group">
            <%= render_form_payment order, current_user %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
