<%= javascript_include_tag "venue_market/edit.js" %>
<div class="media-body footer-section line-break-block">
  <div class="row">
    <div class="col-md-12">
      <div class="block full">
        <%= @venue.name %>
      </div>
      <div class="block full">
        <div class="block-title">
          <%= render "shared/form_outline", active_id: "marketplace" %>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="tab-content">
              <%= hidden_field_tag "venue_id", @venue.id, id: "venue-id" %>
              <label  class="switch switch-primary"><%= t(".list_space")%>
                <%= check_box_tag :status, @venue.status, @venue.status %>
                <span></span>
              </label>
              <div id="hidden-form">
                <p class = "text-center">
                  <i class="fa fa-money" aria-hidden="true"></i>
                  <%= t ".pament_methods" %>
                  <i class="fa fa-money" aria-hidden="true"></i>
                </p>
                <div class="payment" id="payment_block">
                  <div class = "col-md-12">
                    <%= render "payment_methods" %>
                  </div>
                  <div>
                    <%= render "add_payment_methods.html" %>
                  </div>
                  <%= render "add_paypal_account" %>
                </div>
                <hr class="style-two">
                  <p class = "text-center">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <%= t ".other_settings" %>
                    <i class="fa fa-cog" aria-hidden="true"></i>
                  </p>
                  <%= simple_form_for [@venue, @venue_market], method: :patch, remote: true do |f| %>
                    <%= f.input :slogan,
                      input_html: {class: "form-control margin-bot-15"} %>
                      <br/>
                    <%= f.input :description,
                      input_html: {class: "form-control margin-bot-15"} %>
                      <br/>
                    <%= f.input :introduction,
                      input_html: {class: "form-control margin-bot-15"} %>
                      <br/>
                    <%= f.button :submit, class: "btn btn-primary pull-right" %>
                  <% end %>
                </hr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
