<tr>
  <th class="text-center">
    <strong>
      <label><%= t "payments.title.space" %></label>
    </strong>
  </th>
  <td class="text-center">
    <strong>
      <label><%= t "payments.title.image" %></label>
    </strong>
  </td>
  <td class="text-center">
    <strong>
      <label><%= t "payments.title.quantity" %></label>
    </strong>
  </td>
  <td class="text-center">
    <strong>
      <label><%= t "payments.title.duration" %></label>
    </strong>
  </td>
  <td class="text-left">
    <strong>
      <label><%= t "payments.title.information" %></label>
    </strong>
  </td>
  <td class="text-left">
    <strong>
      <label><%= t "payments.title.status" %></label>
    </strong>
  </td>
</tr>
